name: OiiOii Daily Check-in

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  checkin:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install system deps
        run: |
          sudo apt update
          sudo apt install -y wget gnupg unzip xvfb
          sudo apt install -y libnss3 libnspr4 libatk-bridge2.0-0 libcups2 libxkbcommon0 \
            libxcomposite1 libxrandr2 libxdamage1 libgbm1 libasound2 libatk1.0-0 libx11-xcb1 libxshmfence1 libpango-1.0-0

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Python packages
        run: pip install undetected-chromedriver selenium webdriver-manager requests

      - name: Run sign-in script
        env:
          OIIOII_EMAIL: ${{ secrets.OIIOII_EMAIL }}
          OIIOII_PASSWORD: ${{ secrets.OIIOII_PASSWORD }}
          OIIOII_TG_TOKEN: ${{ secrets.OIIOII_TG_TOKEN }}
          OIIOII_TG_CHAT: ${{ secrets.OIIOII_TG_CHAT }}
        run: |
          xvfb-run --auto-servernum python3 checkin.py
