name: OiiOii Check-in

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  checkin:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - run: sudo apt update && sudo apt install -y xvfb libnss3 libxkbcommon0 libxcomposite1 libxdamage1 libxrandr2 libgbm1 libasound2t64

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - run: pip install undetected-chromedriver selenium requests

      - env:
          EMAIL: ${{ secrets.EMAIL }}
          PASSWORD: ${{ secrets.PASSWORD }}
          TG: ${{ secrets.TG }}
        run: xvfb-run --auto-servernum python3 checkin.py
